.bottom{
    font-size: 110%;
    background-color:black;
    color:grey;
    width: auto;
    height: 600px;
    padding:40px;
    border-radius: 20px 20px 20px 20px;
    margin-right:25%;
  }
  .bottom div {
    background-color: rgb(20, 20, 20);
    height:auto;
    float:left;
    padding:20px;
    width: 90%;
  }
  .bottom a {
    color:grey;
  }